---
---

body {
    background: #212121;
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 50px 25px;
}

#content {
    max-width: 480px;
    display: inline-block;
}

#profile-picture {
    display: inline-block;
    border: 5px solid #1976D2;
    border-radius: 50%;
    padding: 5px;

    > img {
        width: 160px;
        border-radius: 50%;
    }
}

h1 {
    margin-top: 25px;
    font-size: 48px;
    font-weight: bold;
}

p {
    margin-top: 15px;
    font-size: 16px;
    line-height: 1.2;
}

#links {
    .link {
        margin-top: 15px 25px;
        text-align: left;

        a {
            display: block;
            padding: 15px 25px;
            font-size: 0;
            font-weight: bold;
            text-decoration: none;
            position: relative;

            span {
                font-size: 24px;
            }

            .fa-brands {
                margin-right: 10px;
            }

            .fa-solid {
                position: absolute;
                right: 25px;
                font-size: 16px;
                opacity: 75%;
                top: 20px;
            }
        }

        p {
            background: #263238;
            padding: 25px;
            margin: 0;
        }

        &.twitch a {
            color: white;
            background: #9146FF;
        }

        &.instagram a {
            color: white;
            background: #f09433; 
            background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
            background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
            background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f09433', endColorstr='#bc1888',GradientType=1);
        }

        &.discord a {
            color: white;
            background: #5865f2;
        }

        &.telegram a {
            color: white;
            background: #179cde;
        }

        &.youtube a {
            color: white;
            background: #ff0000;
        }
    }
}
